{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Jelszó visszaállítása</legend>
                <div id="div_id_new_password1" class="form-group"> <label for="id_new_password1" class=" requiredField">
                Új jelszó<span class="asteriskField">*</span> </label> <div class=""> <input type="password" name="new_password1" autocomplete="new-password" class="textinput textInput form-control" required id="id_new_password1"> <small id="hint_id_new_password1" class="form-text text-muted"><ul><li>Jelszava nem lehet túl hasonló a többi személyes adatához.</li><li>Jelszavának legalább 8 karakterből kell állnia.</li><li>Jelszava nem lehet gyakran használt jelszó.</li><li>Jelszava nem lehet teljesen numerikus.</li></ul></small> </div> </div> <div id="div_id_new_password2" class="form-group"> <label for="id_new_password2" class=" requiredField">
                Új jelszó hitelesítése<span class="asteriskField">*</span> </label> <div class=""> <input type="password" name="new_password2" autocomplete="new-password" class="textinput textInput form-control" required id="id_new_password2"> </div> </div>

            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Jelszó visszaállítása</button>
            </div>
        </form>
    </div>
{% endblock content %}
