{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
   <article class="media content-section">
          {% csrf_token %}
          {{ Exercise.media }}
          <div class="media-body">
            <div class="article-metadata">
              <h1 class="text-center">{{ Exercise.title }}</h1>
              <div class="row-6">
              <small class="text-muted" href="#">Feladat szintje: {{ Exercise.level }}</small>
              </div>
               <div class="row-6">
              <small class="text-muted" href="#">Feladat típusa: {{ Exercise.exercise_type }}</small>
                </div>
              <div class="row-6">
              <small class="text-muted" href="#">Elérhető maximum pontszám: {{ Exercise.score }}</small>
             </div>
            </div>
            <br>
             <p class="article-content">{{ Exercise.description|safe }}</p>
            </div>
        </div>
 </article>
   
{% endblock content %}
